.outer-album-form-div {
  // border: 2px solid green;
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner-album-form-div {
  border: 1px solid lightgray;
  box-shadow: 10px 10px 10px darkgray;
  border-radius: 5px;
  margin: 110px;
  height: 450px;
}

.album-form-title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Concert One', cursive;
}

.album-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.album-form label {
  margin-bottom: 60px;
  font-size: 20px;
  font-family: 'Amiri', serif;
}

.album-form label input {
  margin-left: 5px;
  height: 20px;
  width: 230px;
}

.album-buttons {
  display: flex;
  justify-content: space-around;
}

.album-form input[type=submit] {
  background: gray;
  width: 115px;
  height: 60px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}

.album-form a {
  text-decoration: none;
  background: gray;
  width: 100px;
  height: 45px;
  color: white;
  padding: 13px 0 0 0;
  text-align: center;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
}
