// Place all the styles related to the Api/Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.add-comment-button {
  margin-left: 375px;
}

.add-comment-button input[type=submit] {
  padding:5px 15px;
    background: gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.comment-user {
  margin-bottom: 10px;
}

.comment-user h2 {
  font-size: 20px;
  font-weight: bold;
}

.comment-info {
  margin-left: 5px;
  margin-bottom: 15px;
}

.delete-comment-button {
  padding:5px 5px;
    background: gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}

.comment-text {
  margin-bottom: 10px;
}
