.footer-element {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
