.photo-list-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

//this looks like it's scaling every image to that width
.photo-list a img {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  width: 35%;
}

.photo-show-pic img {
  margin-top: 70px;
  margin-left: 254px;
  width: 50%;
  padding: 10px;
}

//add spacing between delete button and other photos
.photo-delete-button {
  margin-top: 40px;
  margin-left: 470px;
  // border: 2px solid green;
}

.photo-delete-button button {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.add-photo-button {
  display: flex;
  justify-content: center;
}

.add-photo-button button {
  background-color: gray;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  margin-bottom: 50px;
  cursor: pointer;
}
