.welcome {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 40px 0;
}

.align-home-page-images {
  display: block;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 40%;
  display: inline-block;
  margin-right: 35px;
}

.card img {
  height: inherit;
  width: 100%;
}

.outer-home-page-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
